.filter-green{
    filter: invert(42%) sepia(89%) saturate(369%) hue-rotate(82deg) brightness(104%) contrast(98%);
}
.filter-orange{
    filter: invert(69%) sepia(99%) saturate(683%) hue-rotate(351deg) brightness(101%) contrast(105%);
}
.filter-red{
    filter: invert(37%) sepia(61%) saturate(2915%) hue-rotate(330deg) brightness(85%) contrast(104%);
}

.last-update{
    font-size: 10pt;
    margin-left: 5px;
}